.pagination-nav__list {
    display: flex;
    justify-content: center;
}

.pagination-nav__list > .page-item {
    margin: 1rem;
    list-style: none;
    background: #fff;
    border-radius: 4px;
    font-size: 2rem;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    height: 34px;
    margin: 0.3rem;
    min-width: 34px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-link {
    text-decoration: none;
    color: rgba(0,0,0,.87);
}